<!-- templates/home-trial.html -->
{% extends 'base.html' %}

{% block title %}
    Minix WYH App
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
<button id="btn-start-recording">Start Recording</button>

<button id="btn-stop-recording" disabled>Stop Recording</button>
    {% else %}
         <div class="jumbotron">
        <h1 class="display-4">Wash Your Hands app</h1>
        <p class="lead">Wash Your Hands App built by Minix.</p> <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'lavaggio_list' %}" role="button">Dive in</a>
        </p>
    </div>
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}
<script>

</script>