{% extends 'base.html' %}

{% block title %}Lavaggi{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    <h5> Ciao {{ user.username }}!</h5>
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-6">
        <div class="jumbotron">
          <video style="display:block; margin: 0 auto;" controls autoplay playsinline></video>
          <!--<p><a href="{% url 'logout' %}">Log Out</a></p>-->
        </div>
        <div class="wrapperRec">
          <button class="btn btn-success" id="btn-start-recording">Start</button>
          <button class="btn btn-danger" id="btn-stop-recording" disabled>Stop</button>
        </div>
     </div>
      <div class="col-3">
      </div>
    </div>

    {% endif %}
</br>
 <div class="row">
      <div class="col-3">
      </div>
   <div class="col-6">
  {% for lavaggio in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ lavaggio.numero }}</span> &middot;
        <span class="text-muted">by {{ lavaggio.utente }} | {{ lavaggio.data_lavaggio }}</span>
      </div>
      <div class="card-body">
        {{ lavaggio.body }}
      </div>
      <div class="card-footer text-center text-muted">
        <a href="{% url 'lavaggio_edit' lavaggio.pk %}">Edit</a> |
        <a href="{% url 'lavaggio_delete' lavaggio.pk %}">Delete</a>
      </div>
    </div>

      <div class="col-3">
      </div>
       </br>
  {% endfor %}
     </div>
 </div>
{% endblock content %}
